@media only screen and (min-width: 1024px) {
  
    nav ul {
        margin-left: 2vw;
        justify-content: space-between;
    }
    nav li {
        width: 30%;
    }
    nav a {}
    
    .large-3 {
        width: 75%;
    }

    
} /* end of media query */