@media only screen and (min-width: 768px) {
    
    header h1 {font-size: 3rem;}
    header h2 {font-size: 1.5rem; }
    header img {height: 100px;}
    
   .medium-6 {width: 75%;}
    
    nav button {display: none;}
    nav ul {display: block;

    }
    nav li {
        width: 25%; 
        display: inline-block;
        align-items: center;
        
    }
    nav a {
        font-size: 1.2em;
        padding-bottom: 10px;
    }
    
    #primaryNav {
        width: 100%;
        text-align: center;
    }
    .navigation {
        height: 50px;
    }

    #disclaimer {
        display: block;
        color: blanchedalmond;
        float: right;
        max-width: 50%;
    }
    
    .contactUs {
        
    }
} /* end of media query */