html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


body {
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 16px;
    font-weight: 300;
    background-color: rgb(107, 83, 83);
}


/* GRID */
.row {
    /* clear: both;*/
    display: flex;
    flex-wrap: wrap;
}

.column {
    padding: 0 2vw; 
    margin: 0 0 .75rem 0;
}
.small-12 {
    width: 100%;
    flex-basis: 100%;
}

.limited {
    max-width: 1140px; 
    margin: auto;
}

ul{
    text-decoration: none;
}
li {
    padding-left: 10px;
    text-decoration: none;
}

ul li { /*new css for button list*/
    display: block;

}

/* HEADER */
header {
    background-color: #4a4057;
    flex-direction: column;
}

#logo {
    /*float: left;*/
    display: flex;
    margin: 10px 20px 10px 20px;
    border-radius: 10px;
}

h1 {
    font-size: em;
    color: ivory;
    display: flex;
    align-self: center;
}

button#hamburgerBtn { 
    background: none;
    border:none;
    color: #fff;
    width: 50px;
    font-size: 2.4rem;
    cursor: pointer;
    padding: 0 30px 0 2vw;
}
nav {
    background-color: rgb(238, 90, 90);
    justify-content: flex-start;
}

nav ul {
    margin: 0;
    /*padding: 0;*/
    height: 50%;
    display: flex;
    align-items: flex-start;
}

nav li {
    display: flex;
    list-style-type: none;
    padding-top: 10px;
    align-items:center;
    justify-content: flex-start;
    gap: 10px;
}

.navigation {
    text-decoration: none;
    align-items: baseline;
    
}

nav a {
    display: inline-block;
    padding: 20px; 
    color: #eee;
    justify-content: flex-start;
    text-decoration: none;
    align-items: center;
}

nav li.active {background-color: rgba(0,0,0,0.5);}
nav a:hover {background-color: rgba(0,0,0,0.2);}
nav ul.open {display: block;}
nav ul {display: none;}

/* BODY */

h2 {
    font-size: 3.2em;
    margin: 0;
    color: #9f86c0;
    text-shadow: 1px 1px ivory;
    text-align: center;
}

h3 {
    font-size: 27px;
    color: #4a4057;
    margin-bottom: 15px;
    text-align: center;
}

p {
    font-size: 20px;
    text-align: left;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
}

main {
    display: block;
    margin-top: 0;
    padding: 0 10%;
    /*text-align: center;*/
    align-items: center;
    /*width: 70%;*/
}

div.services {
    display: block;
    background-color: ivory;
    padding: 25px;
    align-items: center;
    border-radius: 10px;
    margin: 10px;
}

form { /*may need to break these out individually*/
    margin: .5rem $gutter;
    max-width: 25rem;
    display: block;
    justify-content: center;
}
label {
            display: block;
            padding: .75rem 0;
            font-size: 1.2rem;
            color: whitesmoke}
            
        } /* end span */

label, span {
    width: 100%;
}
input,textarea {
            display: block;
            font-size: 1rem;
            padding: .75rem;
            background-color: ivory;
            border: 1px solid #bbb;
            border-radius: 5px;
            margin-top: .0rem;
            width: 100%;
        }
textarea {
            min-height: 25rem;
        }
        


label > span {display: none;}
label.error > span {
    display: block;
    font-size: .75rem;
    color: red;
    padding-left: 10px;
}

/*----- Clearfix: Force an Element not to collapse -----*/

.clearfix:after {
  content: "";
  display: table;
  clear: both;

}